@import '../../sass/utilities/mixins';
@import '../../sass/utilities/variables';

.createArticleForm {
  margin: 0 auto;
  //background-color: $bg-light;
  padding: 10px;

  @include sm-screen {
    //padding: 20px;
  }

  &__input {
    display: flex;
    margin-bottom: 10px;

    &-imageWrapper {
      height: 200px;
      width: 100%;
      border: 3px dashed #393B4B;

      &.loaded {
        img {
          object-fit: contain;
        }
      }
    }

    i {
      font-size: 18px;
    }
  
    input[type="file"] {
      display: none;
    }
  }
}
