@import '../../sass/utilities/mixins';
@import '../../sass/utilities/variables';

.heroText {
  height: 600px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 220px;
  color: white;

  @include lg-screen {
    padding-bottom: 160px;
  }

  &__wrapper {
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 100%;

    @include sm-screen {
      font-size: 50px;
    }

    @include lg-screen {
      font-size: 56px;
      display: flex;
    }

    &-title {
      @include lg-screen {
        margin-right: 10px;
      }
    }

    &-color {
      color: #6D60D3;
      text-shadow: 0 0 10px #2E3041;
    }
  }

  &__subtitle {
    font-size: 16px;

    @include sm-screen {
      font-size: 18px;
    }

    @include lg-screen {
      font-size: 21px;
    }

    span {
      font-weight: bold;
    }
  }

}

//.welcome {
//  height: 600px;
//  width: 100%;
//  background-image: url("../../assets/bg-new-6.png");
//  background-position: bottom;
//  background-repeat: no-repeat;
//  background-blend-mode: color-dodge;
//  background-color: $bg-primary;
//  position: absolute;
//  top: 0;
//  left: 0;
//  overflow: hidden;
//  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
//  //box-shadow: 0 20px 40px 0 rgba(255,255,255,0.1);
//
//  &__text {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -150%);
//    color: white;
//    text-align: center;
//    width: 100%;
//    padding: 0 10px;
//
//    @include sm-screen {
//      transform: translate(-50%, -135%);
//    }
//
//    &-wrapper {
//      display: flex;
//      flex-direction: column;
//      font-size: 42px;
//      font-weight: bold;
//      text-transform: uppercase;
//      line-height: 100%;
//      margin-bottom: 20px;
//
//      @include sm-screen {
//        font-size: 46px;
//      }
//
//      @include lg-screen {
//        flex-direction: row;
//        justify-content: center;
//      }
//
//      &-title {
//        @include lg-screen {
//          font-size: 46px;
//          display: flex;
//          align-items: flex-end;
//          margin-right: 14px;
//        }
//      }
//
//      &-color {
//        color: #6D60D3;
//        text-shadow: 0 0 10px #2E3041;
//
//        @include sm-screen {
//          align-items: flex-end;
//        }
//
//        @include lg-screen {
//          padding-bottom: 3px;
//          font-size: 56px;
//        }
//      }
//    }
//
//    &-subtitle {
//      font-size: 18px;
//      text-shadow: 0 0 10px #2E3041;
//
//      @include sm-screen {
//        font-size: 21px;
//      }
//
//      @include lg-screen {
//        font-size: 21px;
//      }
//
//      span {
//        font-weight: bold;
//      }
//    }
//  }
//}

.homepage {
  max-width: $page-max-width;
  margin: 260px auto 0;

  &__wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    row-gap: 10px;
    margin-bottom: 30px;

    @include sm-screen {
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: auto;
      column-gap: 10px;
      row-gap: 0;
    }

    @include lg-screen {
      grid-template-columns: 2.5fr 1fr;
    }

    &-asideWrapper {
      z-index: 1;
      //grid-column: 2;
      grid-row: 1;

      @include sm-screen {
        grid-row: unset;
      }

      a.panelDiscord {
        margin-bottom: 10px;
      }
    }
  }

  &__articles {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius * 2;
    overflow: hidden;
    height: auto;
  }

  @include lg-screen {
    padding-top: 60px;
  }

  &__hero {
    display: grid;
    row-gap: 10px;
    margin-bottom: 30px;
    grid-template-rows: 400px auto auto;

    .sectionWrapper:nth-child(1) .sectionWrapper__content {
      padding: 0;
    }

    .sectionWrapper:nth-child(1) .sectionWrapper__header i {
      background-color: #F55D6C;
      text-shadow: 0 1px 3px #2E3042;
      //animation: pulse__headerIcon 5s infinite ease-in-out;
    }

    //@keyframes pulse__headerIcon {
    //  45% {
    //    box-shadow: 0 0 6px 3px #2E3042;
    //  }
    //
    //  50% {
    //    box-shadow: 0 0 10px 5px #F16D64;
    //  }
    //
    //  55% {
    //    box-shadow: 0 0 6px 3px #2E3042;
    //  }
    //
    //  60% {
    //    box-shadow: 0 0 10px 5px #F16D64;
    //  }
    //
    //  65% {
    //    box-shadow: 0 0 6px 3px #2E3042;
    //  }
    //}

    @include sm-screen {
      grid-template-rows: 420px auto;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      
      & > div:first-child {
        grid-column: 1 / span 2;
      }
    }

    @include lg-screen {
      grid-template-rows: repeat(2, 270px);

      & > div:first-child {
        grid-column: 1;
        grid-row: 1 / span 2;
      }
    }
  }
}
