// General
$burger-height: 45px;
$burger-width: 45px;
$section-header-height: 60px;

$hover-changer-value: 3;
$border-radius: 6px;
$post-stat-margin-right: 10px;

// Typography
$font-size-small: 14px;

// Responsive
$page-max-width: 1312px;

$menu-height: 60px;
$menu-height-lg: 70px;

$user-menu-height: 45px;
$user-menu-height-lg: 50px;

$article-item-height: 180px;
$article-item-height-lg: 240px;

// Colors
//$bg-primary: #1f1d2c;
$bg-primary: #28293C;
$bg-secondary: #262838;
$bg-light: #2e3040;

$text-primary: #fefdff;
$text-secondary: #7f7f8e;

$color-dark: #363343;
$color-green: #41af7f;
$color-violet: #6c5fd0;
$color-red: #e15e5b;
$color-blue: #3a9ef7;
$color-yellow: #faca63;
$color-gray: #c3c5d5;
$color-black: #222222;
$stat-label-bg: #414146;
$color-google: #4285f4;
$color-google-hover: #357ae8;
