@import '../../sass/utilities/mixins';
@import '../../sass/utilities/variables';

//.adminPage__hero {
//  height: 600px;
//  width: 100%;
//  background-image: url("../../assets/bg-new-6.png");
//  background-position: bottom;
//  background-repeat: no-repeat;
//  background-blend-mode: color-dodge;
//  background-color: $bg-primary;
//  position: absolute;
//  top: 0;
//  left: 0;
//}

.adminPage__content {
  color: whitesmoke;
  max-width: 1312px;
  margin: 60px auto 0;
  //overflow: hidden;
  position: relative;
  z-index: 1;
  //display: grid;
  //grid-gap: 10px;

  @include lg-screen {
    //grid-template-columns: 1fr 3fr;
    margin: 120px auto 0;
  }

  .sectionWrapper__content {
    background-image: none;
  }

  .adminPage__contentWrapper {
    //display: grid;
    //width: 100%;

    //grid-template-columns: 1fr 4fr;
    //column-gap: 20px;
    //row-gap: 10px;

    @include md-screen {
      display: grid;
      grid-template-columns: 1fr 4fr;
      column-gap: 10px;
    }

    @include lg-screen {
      column-gap: 20px;
    }

    &-page {
      margin-top: 10px;
      width: 100%;
      //min-height: 100%;
      height: 100%;
      //background-color: #393B4B;
      //background-color: #484856;
      //background-color: rgba(255,255,255,0.05);
      //padding: 10px;
      position: relative;
      padding-bottom: 20px;

      @include md-screen {
        margin-top: 0;
      }

    }
  }
}
